<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Styles/global.css" rel="stylesheet" />
    <link href="~/Styles/custom.css" rel="stylesheet" />
    <link href="~/Styles/Profile.css" rel="stylesheet" />
    <link href="~/Styles/Profile_font.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/scripts/module.js"></script>
    <script src="~/scripts/NewFolder1/UserDetails.js"></script>
    @*<script src="~/scripts/NewFolder1/languageDetails.js"></script>*@

    @*<script src="~/scripts/NewFolder1/ProfileDetails.js"></script>*@
</head>
<body ng-app="myApp">

    <nav class="navbar nav-bar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Home", "home", "Home")</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>
                <li><a href="#">Page 2</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            <form class="navbar-form navbar-right" action="/action_page.php">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </nav>


    <div class="overlay">
        <div class="abs-center overlay-card">
            <div class="close">X</div>
            <div class="floated overlay-image">
                <div class="abs-center post-image"></div>
            </div>
            <div class="floated overlay-desc">
                <div class="rela-block desc-title"></div>
                <div class="rela-block desc-author"></div>
                <div class="rela-block desc-desc"></div>
            </div>
        </div>
    </div>

    <div class="container">

        @RenderBody()


    </div>

    <div class="footer col-md-12">
        @*<p>FOOTER</p>*@
        <p>Classic deluxe custom designer luxury prestige high-quality premium select gourmet pocket pencil sharpener.</p>
    </div>
</body>
</html>
