.modal-dialog label {
    white-space: nowrap;
    text-align: left !important;
}

.modal-header, .modal-footer {
    padding: 10px;
}

.alert-done{
    position: fixed;
    top: 60px;
    right: 0;
    min-width: 240px;
}

.paddingTop{padding-top:40px;}