USE [ECLHR]
GO
/****** Object:  StoredProcedure [dbo].[USP_SAVE_PERSONALINFO]    Script Date: 1/18/2018 3:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROC [dbo].[USP_SAVE_PERSONALINFO](
@pID INT
,@pLEGALNAME VARCHAR(100)
,@pDOB DATETIME
,@pGENDER INT
,@pMarital_Status INT
,@pNationality INT
)
AS
BEGIN
	IF NOT EXISTS(SELECT 1 FROM Employee WITH (NOLOCK) WHERE Id=@pID)
	BEGIN
		INSERT INTO EMPLOYEE (FULLNAME,DOB,GENDER,MARITALSTATUS,NATIONALITY) 
		VALUES (@pLEGALNAME,@pDOB,@pGENDER,@pMARITAL_STATUS,@pNATIONALITY)
	END
	ELSE
	BEGIN
		UPDATE Employee 
		SET FULLNAME=@pLEGALNAME
			,DOB=@pDOB
			,GENDER=@pGENDER
			,MARITALSTATUS=@pMarital_Status
			,NATIONALITY=@pNationality
		WHERE Id=@pID
	END
END


Alter PROC USP_GET_DROPDOWN_DETAILS
(
@pITEM VARCHAR(100)
)
AS
BEGIN
	SELECT 0 Id,'--Select--' DisplayText
	Union
	SELECT Id,DisplayText FROM DROPDOWN WHERE Item=@pITEM
END

exec USP_GET_DROPDOWN_DETAILS 'Country'