
@{
    ViewBag.Title = "language";
    Layout = "~/Views/Master/main_Layout.cshtml";
}
@*sample*@

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>*@
@*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />*@
<form class="form-horizontal">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-highlight">
            <thead>
            <th>SNo</th>
            <th>Language</th>
            <th>Read</th>
            <th>Billing Type</th>
            <th>Write</th>
            <th>Speak</th>
            <th>Primary Language</th>
            <th>Status</th>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="form-control" value="Some Long Name Here" /></td>
                    <td><input type="text" class="form-control" value="13-Jul-2015" /></td>
                    <td><input type="text" class="form-control" value="$12355.12" /></td>
                    <td>
                        <select class="form-control">
                            <option>Monthly</option>
                            <option>Yearly</option>
                        </select>
                    </td>
                    <td><input type="text" class="form-control" value="another long value" /></td>
                    <td><input type="text" class="form-control" value="some val" /></td>
                    <td><input type="text" class="form-control" value="some val" /></td>
                    <td><input type="text" class="form-control" value="some val" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
