@{
    ViewBag.Title = "Family";
    Layout = "~/Views/Master/_LayoutProfile_home.cshtml";
}

@*<h2>Family</h2>*@

<div ng-controller="ProfileController" class="row" ng-init="initMainView()">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Family Details</h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
                @*sample*@
                <div class="form-horizontal">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-highlight">
                            <thead>
                            <th>Name</th>
                            <th>Relation</th>
                            <th>Gender</th>
                            <th>DOB</th>
                            <th>Age</th>
                            <th>BloodGroup</th>
                            <th>Occupation</th>
                            <th>Med.Insurance</th>
                            <th>AadharNumber</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="familydetails in familyDetailsGridCollection">
                                    <td>{{familydetails.firstname + familydetails.lastname }}</td>
                                    <td>{{familydetails.relation}}</td>
                                    <td>{{familydetails.gender}}</td>
                                    <td>{{familydetails.dateofbirth}}</td>
                                    <td>{{familydetails.age}}</td>
                                    <td>{{familydetails.bloodgroup}}</td>
                                    <td>{{familydetails.occupation}}</td>
                                    <td>{{familydetails.Ismediclaim}}</td>
                                    <td>{{familydetails.aadhaar}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-md-12 form-group">
                            <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">
                                +Add
                            </button>
                        </div>
                        @*<div class="col-md-12 form-group">
                            <button type="button" class="btn btn-primary">+Add</button>

                        </div>*@
                        @*<div class="col-md-6" ng-show="formvisuble">
                            <fieldset>
                                <legend>
                                    Language
                                </legend>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Language:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" name="sort" id="sort">
                                                <option value="1">1</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="email">Read</label>
                                        <div class="col-sm-8">
                                            <button class="btn btn-default">Yes</button>
                                            <button class="btn btn-default">No</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="email">Write</label>
                                        <div class="col-sm-8">
                                            <button class="btn btn-default">Yes</button>
                                            <button class="btn btn-default">No</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="email">Speak</label>
                                        <div class="col-sm-8">
                                            <button class="btn btn-default">Yes</button>
                                            <button class="btn btn-default">No</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="email">Primary Lang</label>
                                        <div class="col-sm-8">
                                            <button class="btn btn-default">Yes</button>
                                            <button class="btn btn-default">No</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-primary">Save</button>
                                    <button class="btn btn-danger">Cancel</button>
                                </div>
                            </fieldset>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Modal*@
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dependent Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-12 col-md-4 ">
                                    <div class="form-group">
                                        <label for="House-No" class="control-label col-sm-4 col-md-5 ">FirstName</label>
                                        <div class="col-sm-8 col-md-7  nopadding">
                                            <input type="text" class="form-control" ng-model="familydata.firstname" placeholder="FirstName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 ">
                                    <div class="form-group">
                                        <label for="House-No" class="control-label col-sm-4 col-md-5 ">Middle Name</label>
                                        <div class="col-sm-8 col-md-7  nopadding">
                                            <input type="text" class="form-control" ng-model="familydata.middlename" placeholder="Middle Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 ">
                                    <div class="form-group">
                                        <label for="House-No" class="control-label  col-sm-4 col-md-5  ">Last Name*</label>
                                        <div class="col-sm-8 col-md-7  nopaddingLEFT">
                                            <input type="text" class="form-control" ng-model="familydata.lastname" placeholder="Last Name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-4 ">
                                    <div class="form-group">
                                        <label for="Area1" class="control-label  col-sm-4 col-md-5  ">DOB</label>
                                        <div class="col-sm-8 col-md-7  nopadding">
                                            <input type="text" class="form-control" ng-model="familydata.dateofbirth" placeholder="DateOfBirth">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 ">
                                    <div class="form-group">
                                        <label for="Area1" class="control-label  col-sm-4 col-md-5  ">Age</label>
                                        <div class="col-sm-8 col-md-7  nopadding">
                                            <input type="text" class="form-control" ng-model="familydata.age" placeholder="Age">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 ">
                                    <div class="form-group">
                                        <label for="Area1" class="control-label  col-sm-4 col-md-5  ">Blood Group</label>
                                        <div class="col-sm-8 col-md-7  nopaddingLEFT">
                                            <input type="text" class="form-control" ng-model="familydata.bloodgroup" placeholder="Blood Group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-4 ">
                                    <div class="form-group">
                                        <label for="Area1" class="control-label  col-sm-4 col-md-5  ">Gender</label>
                                        <div class="col-sm-8 col-md-7  nopadding">
                                            <input type="text" class="form-control" ng-model="familydata.gender" placeholder="Gender">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 ">
                                    <div class="form-group">
                                        <label for="Area1" class="control-label  col-sm-4 col-md-5  ">Relation</label>
                                        <div class="col-sm-8 col-md-7  nopadding">
                                            <input type="text" class="form-control" ng-model="familydata.relation" placeholder="Relation">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 ">
                                    <div class="form-group">
                                        <label for="Area1" class="control-label  col-sm-4 col-md-5  ">Birth Place</label>
                                        <div class="col-sm-8 col-md-7  nopaddingLEFT">
                                            <input type="text" class="form-control" ng-model="familydata.birthplace" placeholder="Birth Place">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-4 ">
                                    <div class="form-group">
                                        <label for="Area1" class="control-label  col-sm-4 col-md-5  ">Occupation</label>
                                        <div class="col-sm-8 col-md-7  nopadding">
                                            <input type="text" class="form-control" ng-model="familydata.occupation" placeholder="Occupation">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 ">
                                    <div class="form-group">
                                        <label for="Area1" class="control-label  col-sm-4 col-md-5  ">Dependent</label>
                                        <div class="col-sm-8 col-md-7  nopadding">
                                            <input type="text" class="form-control" ng-model="familydata.dependent" placeholder="Dependent">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 ">
                                    <div class="form-group">
                                        <label for="Area1" class="control-label  col-sm-4 col-md-5  ">Mediclaim*</label>
                                        <div class="col-sm-8 col-md-7  nopaddingLEFT">
                                            <input type="text" class="form-control" ng-model="familydata.mediclaim" placeholder="Mediclaim">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-4 ">
                                    <div class="form-group">
                                        <label for="Area1" class="control-label  col-sm-4 col-md-5  ">Country Of Birth</label>
                                        <div class="col-sm-8 col-md-7  nopadding">
                                            <input type="text" class="form-control" ng-model="familydata.countryofbirth" placeholder="Country of Birth">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 ">
                                    <div class="form-group">
                                        <label for="Area1" class="control-label  col-sm-4 col-md-5  ">Nationality</label>
                                        <div class="col-sm-8 col-md-7  nopadding">
                                            <input type="text" class="form-control" ng-model="familydata.nationality" placeholder="Nationality">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 ">
                                    <div class="form-group">
                                        <label for="Area1" class="control-label  col-sm-4 col-md-5  ">	Aadhaar No.</label>
                                        <div class="col-sm-8 col-md-7  nopaddingLEFT">
                                            <input type="text" class="form-control" ng-model="familydata.aadharnumber" placeholder="AadhaarNumber">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
