
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Master/main_Layout.cshtml";
}



<div class="row">
    <h1>Ipsum</h1>
    <div role="tabpanel">
        <div class="col-sm-3 side-nav">
            <ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
                <li role="presentation" class="brand-nav active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Lorem ipsum</a></li>
                <li role="presentation" class="brand-nav"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Zombie ipsum</a></li>
                <li role="presentation" class="brand-nav"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Gansta ipsum</a></li>
                <li role="presentation" class="brand-nav"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Corporate ipsum</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab1">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt feugiat lorem, at ornare tellus faucibus ut.
                        Curabitur eget metus dapibus nibh laoreet lacinia eget id metus. Mauris quis convallis elit, ac convallis augue.
                        Pellentesque ornare cursus nibh quis fermentum. Morbi faucibus at tortor sed volutpat. Etiam at ex molestie turpis aliquam auctor.
                        Nulla consequat tristique augue, vel venenatis massa fringilla sit amet. Morbi egestas turpis facilisis sem faucibus finibus.
                    </p>
                    <p>
                        Nam sodales magna eget nulla interdum gravida. Aenean cursus magna vel lorem eleifend, vel eleifend massa rhoncus.
                        Duis accumsan vehicula ultricies. Proin tincidunt blandit congue. Curabitur semper odio ut malesuada dapibus.
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab2">
                    <p>
                        Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis.
                        Summus brains sit, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.
                        Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.
                        Qui animated corpse, cricket bat max brucks terribilem incessu zomby.
                    </p>
                    <p>
                        The voodoo sacerdos flesh eater, suscitat mortuos comedere
                        carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies.
                        Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab3">
                    <p>
                        Lorem ipsizzle dolor away amizzle, consectetuer pizzle elizzle. Nullizzle yo velizzle, check it out volutpizzle, quis, gravida vel, yo.
                        Ma nizzle eget tortor. Sizzle eros. My shizz izzle dolizzle gizzle turpis tempizzle fo shizzle mah nizzle fo rizzle, mah home g-dizzle.
                        Maurizzle pellentesque nibh izzle own yo'. Check it out in tortor. Pellentesque fizzle rhoncizzle nisi.
                    </p>
                    <p>
                        In hac habitasse platea dictumst. Shizzlin dizzle dapibus. You son of a bizzle tellizzle urna, pretizzle fo shizzle mah nizzle fo rizzle, mah home g-dizzle,
                        ghetto ac, check it out vitae, nunc. Shizzlin dizzle suscipizzle. Integizzle sempizzle velit sizzle dizzle.
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab4">
                    <p>
                        Collaboratively administrate empowered markets via plug-and-play networks.
                        Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without
                        revolutionary ROI.
                    </p>
                    <p>
                        Efficiently unleash cross-media information without cross-media value.
                        Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar
                        solutions without functional solutions.
                    </p>
                    <p>
                        Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate
                        one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service
                        for state of the art customer service.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-controller="ProfileController" ng-init="initMainView()">
    <div class="row">
        <div class="col-md-6">
            <fieldset>
                <legend>present</legend>
                <button class="btn btn-primary btn_edit" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                </button>
                
                
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3 bold" for="email">House No :</label>
                        <div class="col-sm-9">
                            <label class="control-label col-sm-8 text-left" for="email">{{ProfileCollection.HouseNo}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 bold" for="email">Street/Area1 :</label>
                        <div class="col-sm-9">
                            <label class="control-label col-sm-8 text-left" for="email">{{ProfileCollection.Street1}}</label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 bold" for="email">Street/Area2 :</label>
                        <div class="col-sm-9">
                            <label class="control-label col-sm-8 text-left" for="email">{{ProfileCollection.Street2}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3 bold" for="pwd">City/District :</label>
                        <div class="col-sm-9">
                            <label class="control-label col-sm-8 text-left" for="email">{{ProfileCollection.City}}/{{ProfileCollection.District}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 bold" for="email">State/PIN :</label>
                        <div class="col-sm-9">
                            <label class="control-label col-sm-8 text-left" for="email">{{ProfileCollection.State}}/{{ProfileCollection.PinCode}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 bold" for="pwd">Country :</label>
                        <div class="col-sm-9">
                            <label class="control-label col-sm-8 text-left" for="email">{{ProfileCollection.Country}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 bold" for="email">Home Phone :</label>
                        <div class="col-sm-9">
                            <label class="control-label col-sm-8 text-left" for="email">{{ProfileCollection.HomePhone}}</label>
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset>
                <legend>Permanent</legend>
                <button class="btn btn-primary btn_edit" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                </button>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3 bold" for="HouseNo">House No :</label>
                        <div class="col-sm-9">
                            <label class="control-label col-sm-8 text-left" for="email">{{ProfileCollection.HouseNo}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 bold" for="email">Street/Area1 :</label>
                        <div class="col-sm-9">
                            <label class="control-label col-sm-8 text-left" for="email">{{ProfileCollection.Street1}}</label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 bold" for="email">Street/Area2 :</label>
                        <div class="col-sm-9">
                            <label class="control-label col-sm-8 text-left" for="email">{{ProfileCollection.Street2}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3 bold" for="pwd">City/District :</label>
                        <div class="col-sm-9">
                            <label class="control-label col-sm-8 text-left" for="email">{{ProfileCollection.City}}/{{ProfileCollection.District}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 bold" for="email">State/PIN :</label>
                        <div class="col-sm-9">
                            <label class="control-label col-sm-8 text-left" for="email">{{ProfileCollection.State}}/{{ProfileCollection.PinCode}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 bold" for="pwd">Country :</label>
                        <div class="col-sm-9">
                            <label class="control-label col-sm-8 text-left" for="email">{{ProfileCollection.Country}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 bold" for="email">Home Phone :</label>
                        <div class="col-sm-9">
                            <label class="control-label col-sm-8 text-left" for="email">{{ProfileCollection.HomePhone}}</label>
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="House-No" class="control-label col-sm-3 bold">HouseNo</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="HouseNo" placeholder="House No" ng-value="ProfileCollection.HouseNo">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Area1" class="control-label col-sm-3 bold">Street/Area1</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="Area1" placeholder="Street/Area1" ng-value="ProfileCollection.Street1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Area2" class="control-label col-sm-3 bold">Street/Area2</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="Area2" placeholder="Street/Area2" ng-value="ProfileCollection.Street2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="City" class="control-label col-sm-3 bold">City</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="City" placeholder="City" ng-value="ProfileCollection.City">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="District" class="control-label col-sm-3 bold">District</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="District" placeholder="District" ng-value="ProfileCollection.District">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="State" class="control-label col-sm-3 bold">State</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" ng-model="ProfileCollection.StateId">
                                            <option ng-repeat="state in sateCollection" ng-value="state.Id">{{state.DisplayText}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="PinCode" class="control-label col-sm-3 bold">PinCode</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="PinCode" placeholder="PinCode" ng-value="ProfileCollection.PinCode">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Country" class="control-label col-sm-3 bold">Country</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" ng-model="ProfileCollection.CountryId">
                                            <option ng-repeat="country in countiresCollection" ng-value="country.Id">{{country.DisplayText}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Home-Phone" class="control-label col-sm-3 bold">Home Phone</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="HomePhone" placeholder="Home Phone" ng-value="ProfileCollection.HomePhone">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>