
@{
    ViewBag.Title = "home";
    Layout = "~/Views/Master/main_Layout.cshtml";
}


    <div class="rela-block profile-card">
        <div class="profile-pic" id="profile_pic"></div>

        <div class="rela-block profile-name-container">
            <div class="rela-block user-name" id="user_name">Test Full Name</div>
            <div class="rela-block user-desc" id="user_description">Software Engineer</div>
        </div>
        <div class="rela-block profile-card-stats">
            <div class="floated profile-stat EmployeeCode" id="num_works">1<br></div>
            <div class="floated profile-stat BU" id="num_followers">MDO<br></div>
            <div class="floated profile-stat Supervisor" id="num_following">xxxx<br></div>
            <div class="floated profile-stat Location" id="num_following">Hyderabad<br></div>
        </div>
    </div>


