
@{
    ViewBag.Title = "home";
    Layout = "~/Views/Master/main_Layout.cshtml";
}
<div ng-controller="UserControll" ng-init="initMainView()">
    <div class="rela-block">
        <div class="rela-block profile-card">
            <div class="profile-pic" id="profile_pic"></div>

            <div class="rela-block profile-name-container">
                <div class="rela-block user-name" id="user_name">{{UsersCollection.FullName}}</div>
                <div class="rela-block user-desc" id="user_description">{{UsersCollection.Designation}}</div>
            </div>
            <div class="rela-block profile-card-stats">
                <div class="floated profile-stat EmployeeCode" id="num_works">{{UsersCollection.Code}}<br></div>
                <div class="floated profile-stat BU" id="num_followers">{{UsersCollection.BusinessUnit}}<br></div>
                <div class="floated profile-stat Supervisor" id="num_following">{{UsersCollection.Manager}}<br></div>
                <div class="floated profile-stat Location" id="num_following">Hyderabad<br></div>
            </div>
        </div>
        <div class="rela-block content">
            <div class="row">
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="~/Images/User.png" alt="Nature" style="width:85%">
                        <div class="caption text-center">
                            <p> <a href="/Profile/Profile">Profile</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="~/Images/User.png" alt="Nature" style="width:85%">
                        <div class="caption text-center">
                            <p><a href="/Leave/Leave">Leave</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="~/Images/User.png" alt="Nature" style="width:85%">
                        <div class="caption text-center">
                            <p><a href="/Attendance/Attendance">Attendance</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="/w3images/nature.jpg" target="_blank">
                            <img src="~/Images/User.png" alt="Nature" style="width:85%">
                            <div class="caption text-center">
                                <p><a href="/Performance/Performance">Performance</a></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="/w3images/nature.jpg" target="_blank">
                            <img src="~/Images/User.png" alt="Nature" style="width:85%">
                            <div class="caption text-center">
                                <p>Profile.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="/w3images/nature.jpg" target="_blank">
                            <img src="~/Images/User.png" alt="Nature" style="width:85%">
                            <div class="caption text-center">
                                <p>Profile.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            @*<div class="rela-inline image">
                <a href="/Profile/Profile">Profile</a>
                @Html.ActionLink("Profile", "Profile", "Profile")
            </div>
            <div class="rela-inline image">@Html.ActionLink("Leave", "Leave", "Leave")</div>
            <div class="rela-inline image">@Html.ActionLink("Attendance", "Attendance", "Attendance")</div>
            <div class="rela-inline image"></div>
            <div class="rela-inline image"></div>
            <div class="rela-inline image"></div>
            <div class="rela-inline image"></div>*@

        </div>


    </div>
</div>